---
---

@import "{{ site.theme }}";
@import "sharingbuttons.io.css";

// override of page-header for the pages-themes-cayman theme
.page-header-override {
  color: $header-heading-color;
  text-align: center;
  background-color: #222423;
  background-image: url("/../assets/images/banner.png");

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

// home icon (XXX)
.fixed-bl {
  position: fixed;
  bottom: 0;
  left: 0;
}

// top icon (fa-arrow-circle-o-up)
.fixed-br {
  position: fixed;
  bottom: 0;
  right: 0;
}
